# Local terraform directory (contains providers and modules)
.terraform/

# State files (Contains sensitive infrastructure data and passwords)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Variable files (Where you might store secrets locally)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json

# CLI configuration files
.terraformrc
terraform.rc  

*terraform.tfstate
terraform.tfvars 

.terraform.lock.hcl